.o__main .leftBox .leftColumnContent .leftListBox {
    display: block;
    vertical-align: top;
}
.o__main .rightList {
    width: 342px;
    margin-left: 38px;
    background: #f9eccd;
    display:none;【【
}
.o__main .leftBox .leftColumnContent .leftListBox {
    margin-left: -20px;
}
.o__main .rightList {
    display: inline-block;
    vertical-align: top;
    margin-left: -40px;
}
.o__main .leftBox .leftColumnContent .leftListBox {
    margin-left: -20px;
    margin-top: 30px;
}
.o__main .leftBox .leftColumnContent .leftListBox ul li a {
    position: relative;
    padding-left: 22px;
    font-weight: 600;
    /*处理超出*/
    width: max-content;
    max-width: 230px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 20px;
}
.o__main .leftBox .leftColumnName {
    padding-bottom: 11px;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 20px;
}
.o__main {
    background-color: #ebe6dd;
    margin-left: -40px;
}