body{
    background: #fdf7f7!important;
}

.leftBox{
    margin: 0 auto!important;
    width: 94%!important;
}

.leftColumnName b{
    color: #582c20	!important;
    font-size: 26px!important;
    margin-top: 40px!important;
    display: block!important;
}

.leftColumnContent .leftCardBox .leftCardItem .CardCoverimg/*为a标签，即标题下图片*/{
    display: block!important;
    background: url(../../../img/portal/gxyx/GXruimenSM.png) no-repeat !important;
    background-size: contain!important;
    width: 100%!important;
    height: 210px!important;/**/
    border-radius: 10px!important;
    margin-top: 20px!important;
    
}

a{
    text-decoration: none;
}

.leftColumnContent .leftCardBox .leftCardItem .CardIntro{
    background: #1b1b1b!important;
    width: 100%!important;
    height: 34px!important;/**/
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    margin-top: -54px!important; 
    opacity: 0.5!important;
}



.leftColumnContent .leftCardBox .leftCardItem .CardIntro .Intro_tit/*国学入门书目*/{
    font-size: 22px!important;
    color: #fdf7f7!important;
    margin-left: 20px!important;
}

.leftListBox{
    
    margin-bottom: 80px !important;
}

.leftListBox ul,li{
    list-style: none!important;
    
    padding: 0!important;

}

ul{
    margin-top:48px!important;
}


ul,li{
    display: block!important;
}

.leftListBox li{
    margin-bottom: 20px!important;
}

.leftListBox li a{
    color: #937c66!important;
    font-size: 16px!important;
}

.phoneNone{
    display: none;
}
