.m-backgroundcolor{
    background-color: #fdf7f7 ;
}

.o__main .container{
    padding: 0 0 !important;
    margin: auto;
    background-color: #fdf7f7 !important;
}

.o__main .leftBox .leftColumnName{
    margin-top: 40px !important;
}

.o__main .leftBox .leftColumnName a{
    color: #582c20;
    font-size: 26px !important;
}

.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem a:first-child + a{
    font-size: 16px !important;
    color:#fdf7f7 !important;
}

.o__main .leftBox .leftColumnName {
    margin-left: 24px;
    padding-bottom: 20px !important ;
}

.o__main .leftBox .leftColumnName a {
    border-bottom: none  !important ;
}

.o__main .leftBox .leftColumnName{
    border-bottom: none !important;
}

.o__main .leftBox .leftColumnContent{
    margin-top: 0 !important;
}

.o__main .leftBox {
    width: 375px !important;
}

.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem {
    margin-bottom: 20px;
    height: 94px;
    width: 140px !important;
}

.leftBookBox img{
    border-radius: 10px;
    width: 146px !important;
    height: 96px !important ;
}

.m-character{
    background-color: #1b1b1b;
    width: 146px !important;
    margin-right:0 !important;
    margin-bottom: 0 !important;
    height: 30px;
    position: relative;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    top: -51px;
    opacity: 0.5;
    z-index: 2;
    text-align: left !important;
    color: white !important;
}

.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem{
     vertical-align: bottom;
    margin: 0 20px !important;
 }

.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem a:first-child + a {
    max-width: 100% !important;
}
