.o__main .fullBox .fullColumnName a, .o__main .xyIntroduct  .leftBox .leftColumnName a{
    text-align: left;
}
.o__main .fullBox .fullColumnContent, .o__main .xyIntroduct  .leftBox .leftColumnContent{
    margin-top: 48px!important;
}
.xyIntroduct  .mobile-header{
    font-size: 26px;
}
.o__main .fullBox .fullColumnName a, .o__main .xyIntroduct  .leftBox .leftColumnName a{
    border-bottom: none !important;
}
.o__main .container{
    background-color: #f9fcf7;
    width: 100% !important;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftListBox ul li a{
    font-size: 16px;
}
.o__main .fullBox .fullColumnName, .o__main .xyIntroduct  .leftBox .leftColumnName{
    margin: 0 auto ;
    margin-top: 30px;
    border-bottom: none  !important;
}
.o__main .fullBox .fullColumnName a, .o__main .xyIntroduct  .leftBox .leftColumnName a{
    font-size: 26px !important;
    position: absolute;
    left: 36%;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardCoverimg img{
    border-radius: 10px;
}
.o__main .xyIntroduct   .leftBox .leftColumnContent .leftCardBox, .o__main .leftBox .leftColumnContent .leftListBox{
    margin-left: 0;
    margin-top: 50px;
    display: block !important;
}

.o__main .fullBox .fullColumnName, .o__main .xyIntroduct  .leftBox .leftColumnName{
    text-align: center;
}
.xyIntroduct  .left-l{
    border-top: #bed9be 1px solid;
    position: absolute;
    left: 16%;
    top: 58px;
    width: 60px;
    display: inline-block;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem{
    width: 100% !important;
    height: 210px;
}

.xyIntroduct  .right-l{
    border-top: #bed9be 1px solid;
    position: absolute;
    left: 70%;
    top: 58px;
    width: 60px;
    display: inline-block;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox, .o__main .leftBox .leftColumnContent .leftListBox{
    margin-top: 26px !important;
    margin-bottom: 26px;
}

.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro{
    background-color: #1b1b1b;
    width: 94%!important;
    margin-right:0 !important;
    margin-bottom: 0 !important;
    height: 30px;
    position: relative;
    margin-left: 3%;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    top: -32px;
    opacity: 0.5;
    z-index: 2;
    text-align: left !important;
    color: #f6f0f0 !important;
    display: block;
}

.o__main .xyIntroduct  .rightList .rightListBox .rightColumnName{
    width: 100% !important;
}

.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro .Intro_tit{
    margin-right:0 !important;
    margin-bottom: 0 !important;
    position: relative;
    top: 0;
    text-align: left !important;
    color:  #f6f0f0 !important;
    display: block;
    font-size: 20px;
    max-width: none;
    margin-left: 12px;
}
.o__main .xyIntroduct   .leftBox .leftColumnContent .leftListBox ul li{
    padding: 0;
    margin-left: 3%;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem:first-child{
    padding-bottom: 0 !important;
}

.o__main .xyIntroduct   .leftBox{
    width:100%;
    background-color: #f9fcf7 !important;
}
.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardCoverimg img{
    margin: 0 auto;
    height: 210px;
    width: 94% !important;
}


.o__main .xyIntroduct  .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro .Intro_des{
    display: none !important;
}
.o__main .xyIntroduct  .rightList .rightListBox .rightColumnName span{
    font-size: 26px;
}
.o__main .xyIntroduct  .rightList .rightListBox .rightListContent{
    background-color:#4b794e ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.o__main .xyIntroduct  .rightList .rightListBox .rightListContent ul li a{
    color: #f9fcf7 ;
    font-size: 16px;
}
div.xyIntroduct{
    padding-bottom: 30px !important;
}
.xyIntroduct  .mobile-header{
    position: absolute;
    left: 40%;
}
.o__main .container  {
    padding: 0 0 !important;
}
.xyIntroduct  .leftCardItem1{
    display: none;
}

.o__main .xyIntroduct  .rightList {
    margin-top: 34px;
    width: 94% !important;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;

}
.xyIntroduct  .m-ri-current{
    border-top-left-radius: 10px;
}
.xyIntroduct  .m-ri-current1{
    border-top-right-radius: 10px;
}
