body{
    width: 100%;
    margin-left: 0;
    background: #fdf7f7;
}
img
{
    width: 100%;
    height: 210px;
    border-radius: 10px;
}
.m__top-background
{
    height:330px;
    width: 100%;
    margin-top:-20px;
    background: #fdf7f7;
}
.leftColumnName
{
    /* color: #582c20; */
    font-size: 26px;
    margin-left: 18px;
    padding-top: 40px;
    margin-bottom: 8px;
}
.m__picture
{
    position: relative;
    width: 94%;
    height: 210px;
    margin:0 auto;
    margin-top: 20px;
}
.leftListBox
{
    width: 300px;
    margin-top: 300px;
}
a:hover
{
    -webkit-tap-highlight-color:transparent; 
}
.m__shadediv
{
    position: absolute;
    bottom: 0;
    width:100%;
    height:34px;
    font-size: 22px;
    color: white;
    background:#1f2225;
    opacity: 0.5;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px; 
}

.m__shadediv h{
    margin-left: 16px;
}
.m__fjsx
{
    position: relative;
    margin-top: -42px;
    margin-left: 40px;
    color: white;
    font-size: 22px;
}
.leftListBox
{
    width: 100%;
    margin-top: 0;
} 
ul
{
    list-style-type: none;
    margin-right: 19px;
    margin-left: 19px;
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 80px;
}
.ri-a
{
    font-size: 16px;
    text-decoration: none;
    color: #937c66; 
}
.ri-li
{
    margin-bottom: 20px !important;
}
ul,li{
    display:block !important;
}
a{
    color: #582c20;
}
div{
    margin-top:8px;
}