
body{
    background-color: #fff;
}

a{
    text-decoration:none;
}

a:hover{
    -webkit-tap-highlight-color: transparent;
}

.listContent{
    margin: 0 2%;
}

.index-banner-text .text-info{
    text-align: center;
    color: #1b813e;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 150px;
}

.index-banner-text .text-info .line{
    display: inline-block;
    width: 80px;
    border-top: 1px solid #bed9be;
    vertical-align: middle;
    margin-top: 10px;
}

.index-banner-text .txt{
    color: #275c29;
    font-size: 26px;
}

.listContentItem{
    margin-top: 30px;
}

.itemTitle{
    color: #275c29;
    font-size: 20px;
}

.itemTitle a:hover{
    color: #ff0000;
}

.itemInfo{
    color: #669367;
    font-size: 18px;
    margin-top: -14px;
    margin-bottom: -16px;
}

.listContentItem .itemInfoFooter{
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #9bc09c;
}

.listContentItem .itemInfoFooter .index-panel-prise-info{
    display: inline-block;
    margin-left: 57%;
    margin-top: 20px;
}

.listContentItem .index-panel-time{
    display: inline-block;
}

.listContentItem .itemInfoFooter .index-panel-prise-img{
    display: inline-block;
    position: absolute;
    margin-left: -600px;
    margin-top: -544px;
    transform: scale(0.012);
    -ms-transform:scale(0.012);
    -moz-transform:scale(0.012);
    -o-transform:scale(0.012);
    -webkit-transform:scale(0.012);
}

.listContentItem .index-panel-prise{
    display: inline-block;
    margin-left: 20px;
}

.line-1{
    border-top: 1px solid #bed9be;
    width: 100%;
    opacity: 0.5;
    margin-top: 20px;
}

.footer{
    margin-bottom: 80px;
}
