.m-xygj
{
    margin-top: 40px !important;
}
body
{
    margin:0 auto;
    background: #fdf7f7;
    vertical-align: middle;

}
.m__background
{
    background: black;
}
.m__headline
{
    font-size: 26px;
    color:#3f3d3d;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.m__headtext
{
    color: #605b5b;
    margin-left:20px;
    margin-bottom:8px;
    opacity: 0.9;
    filter:alpha(opacity=90);
}
.m__text
{
    padding-left: 20px; 
    padding-right:20px;
    color: #605b5b;
    font-size:16px;
}
.m__text.text{
    margin-top: 12px;
}
.m__picture
{
    border-radius: 10px;
}
.m__drawing
{
    width:304px;
    margin:0 auto;
}
.m__button
{
    margin-left: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60px;
    height:35px;
    border-radius: 20px;
}
.m__signs
{
    display:inline-block;
    margin-left: 20px;
    color:#605b5b;
}
.eyediv
{
    width:100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.m__sign
{
    display: inline-block;
    position: absolute;
    right: 6%;
    margin-top: -20px;
    color:#605b5b;
}
.m__eye
{
    display:inline-block;
}
p{
    font-size: 16px;
    margin-block-start: 1em !important;
}

.m-xygj{
    width:94%;
    margin: 0 auto;
}
.m__end
{
    margin-top:10px;
    background:#e9e9e9;
    height:8px;
}
.fa-2x
{
    font-size: 1em;
    transform: scale(0.8) !important;
}

.i
{
transform:scale(0.8);
-ms-transform:scale(0.8); 	/* IE 9 */
-moz-transform:scale(0.8); 	/* Firefox */
-webkit-transform:scale(0.8); /* Safari 和 Chrome */
-o-transform:scale(0.8); 	/* Opera */
}

