<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content=" 清泽 清泽官网 清泽心雨 清泽心雨官网 qzxy qzxywebsite 太原理工大学 太原理工 太原理工-清泽心雨 太原理工大学-清泽心雨">
    <meta name="description" content="清泽资讯 - 为增强高校学生体育锻炼意识,继承优秀传统体育文化,丰富学生课余文化生活,展示青年积极向上的精神风貌, 10月27日,马克思主义学院参加了在明向校区东区小广场举办的太原理工大学“2018年八段锦健身气功团体赛”并取得了三等奖的成绩。">
    <meta name="MSSmartTagsPreventParsing" content="True">
    <link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/skin/portal/common_article.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/mobile/m_home/m__rdnm__common.css" media="screen and (max-width: 500px)">
    <title>清泽心雨 - 祝贺马克思主义学院学生2018年校八段锦比赛中荣获三等奖</title>
    <!--[if lt IE 10]><div class="alert2 alert-danger" >您正在使用过时的浏览器. 请升级您的浏览器来获取更好的体验<a class="icon-ie updateexplor" href="http://download.microsoft.com/download/F/2/8/F2871AC4-E82B-4636-BB37-A5F2B14C8616/IE11-Windows6.1-x86-zh-cn.exe" >x86版本</a ><a class="icon-ie updateexplor" href="http://download.microsoft.com/download/5/6/F/56FD6253-CB53-4E38-94C6-74367DA2AB34/IE11-Windows6.1-x64-zh-cn.exe" >x64版本</a ></div ><script src="//qzxy.tyut.edu.cn/static/lib/ieonly/html5shiv.js" ></script ><script src="//qzxy.tyut.edu.cn/static/lib/ieonly/respond.js" ></script ><![endif]-->
    <script src="../../../static/lib/jquery/jquery.js"></script>
</head>

<body class="m-body">
    <section class="o__main">
        <div class="o__main">
            <div class="container">
                <div class="listContent">
                    <div class="listContentItem">
                        <div class="article-header"><img class="listContentItem__coverimg" src="../../../data/catch/temp/img/20181031/8190aecbbf43b41931bf0073b99ee88d.jpg"
                                alt="祝贺马克思主义学院学生2018年校八段锦比赛中荣获三等奖">
                            <div href="#" class="listContentItem__tit"><span class="title">祝贺马克思主义学院学生2018年校八段锦比赛中荣获三等奖</span>
                                <div class="listContentItem__info"><span class="listContentItem__date">2018-10-31 12:07</span><span
                                        class="listContentItem__read">阅读量：33</span></div>
                            </div>
                        </div>
                        <div class="listContentItem__content">
                            <div class="listContentItem__msg">
                                <div class="msg__container">
                                    <div>
                                        <p style="text-indent: 2em;">为增强高校学生体育锻炼意识,继承优秀传统体育文化,丰富学生课余文化生活,展示青年积极向上的精神风貌,
                                            10月27日,马克思主义学院参加了在明向校区东区小广场举办的太原理工大学“2018年八段锦健身气功团体赛”并取得了三等奖的成绩。</p>
                                        <p style="text-indent: 2em; text-align: center;"><img src="../../../data/catch/temp/img/20181031_1540958752339053.jpg"
                                                title="20181031_1540958752339053.jpg" _src="/data/catch/temp/img/20181031_1540958752339053.jpg"
                                                alt="SA{RJ3YJOI1@%@@RI@DLT44.jpg"></p>
                                        <p style="text-indent: 2em;">此次比赛马院学子齐心协力,面对众多实力较强的学院毫不畏惧,迎难而上,最终赛出了自己的水平,赛出了马院风采。比赛前我们就利用课余时间进行了多次训练,同学们积极参与,在训练中发挥了不怕苦不怕累的精神,只为追求更好的效果。大家也在练习中多次交流练习感悟,纠正具体细节,使自身动作更加标准,团队展示更加整齐。比赛场上同学们保持平和稳定的心态,统一穿着马克思主义学院院服,流畅地完成了一整套动作,用“马院红”让全校学子认识我们,了解我们。</p>
                                        <p style="text-indent: 2em; text-align: center;"><img src="../../../data/catch/temp/img/20181031_1540958766553592.jpg"
                                                title="20181031_1540958766553592.jpg" _src="../../data/catch/temp/img/20181031_1540958766553592.jpg"
                                                alt="4(1N%]GWBO(U}2B]S}6OF8Y.jpg"></p>
                                        <p style="text-indent: 2em;"><span style="text-indent: 2em;">本着“友谊第一,比赛第二”的原则,此次比赛不仅使同学们的身体得到了锻炼,也使学校各学院之间有了更多的了解和交流,更重要的是增强了马克思主义学院的凝聚力和团队意识,提高了马院学子进行体育锻炼的积极性和自信心。</span></p>
                                        <p style="text-indent: 2em; text-align: center;"><span style="text-indent: 2em;"><img
                                                    src="../../../data/catch/temp/img/20181031_1540958779450853.jpg" title="20181031_1540958779450853.jpg"
                                                    _src="../../../data/catch/temp/img/20181031_1540958779450853.jpg" alt="_8MKLK5LAN~]AKDU9F7GM`V.jpg"></span></p>
                                        <p style="text-indent: 2em;">本次活动使同学们受益匪浅,在放松身心的同时强健了体魄,努力向全面发展的目标更好前进。希望以后同学们能够积极参加类似的体育活动,用自身行动诠释当代青年的蓬勃朝气。</p>
                                        <p><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listRight clearfloat">
                    <div class="listRightHead">
                        <h2>最新发布</h2>
                    </div>
                    <div class="listRightContent">
                        <div class="listRightItem"><a href="/threads/view?id=939" class="listRightItem__coverimg"><img
                                    src="../../../data/catch/temp/img/20181031/8190aecbbf43b41931bf0073b99ee88d.jpg" alt="为增强高校学生体育锻炼意识,继承优秀传统体育文化,丰富学生课余文化生活,展示青年积极向上的精神风貌, 10月27日,马克思主义学院参加了在明向校区东区小广场举办的太原理工大学“2018年八段锦健身气功团体赛”并取得了三等奖的成绩。"></a>
                            <div class="listRightItem__content"><a href="/threads/view?id=939" class="listRightItem__tit">祝贺马克思主义学院学生2018年校八段锦比赛中荣获三等奖</a><span
                                    class="listRightItem__date">2018-10-31 12:07</span></div>
                        </div>
                        <div class="listRightItem"><a href="/threads/view?id=929" class="listRightItem__coverimg"><img
                                    src="../../../data/catch/temp/img/20181008/89ee20424b1299d26ddc7804f313acdf.jpg" alt="9月25日,马克思主义学院2018年团学干部中期调整暨表彰大会在学院报告厅隆重举行。"></a>
                            <div class="listRightItem__content"><a href="/threads/view?id=929" class="listRightItem__tit">马克思主义学院召开2018年团学干部中期调整暨表彰大会</a><span
                                    class="listRightItem__date">2018-10-08 12:57</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--移动端文章样式-->
    <div class="m-background">
        <div class="m-common">
            <div class="m-header1">
                <p style="font-size: 14px;color: #605b5b"><a href="http://qzxy.tyut.ued.cn" style="color: #605b5b">首页</a>-新闻-内容</p>
            </div>
            <div class="m-header">
                <p style="font-size: 26px;color: #3f3d3d;font-weight: bold ">
                    祝贺马克思主义学院学生2018年校八段锦比赛中荣获三等奖
                </p>
            </div>
            <div class="m-icon1">
                <div class="m-icon2"><i class="fa fa fa-clock-o fa-rotate-90"></i>
                    <span style="color: #605b5b;font-size: 14px">2019-12-12</span></div>
                <div class="m-icon3">
                    <img src="../../../static/img/portal/readeye.png" class="m-eye">
                    <span style="color: #605b5b;font-size: 14px">&nbsp;&nbsp;2452&nbsp;&nbsp;</span>
                    <i class="fa fa-heart-o heart"></i>
                    <span style="color: #605b5b;font-size: 14px">&nbsp;&nbsp;344</span>
                </div>
            </div>

            <p style="font-size: 16px;color: #605b5b;">为增强高校学生体育锻炼意识,继承优秀传统体育文化,丰富学生课余文化生活,展示青年积极向上的精神风貌,
                10月27日,马克思主义学院参加了在明向校区东区小广场举办的太原理工大学“2018年八段锦健身气功团体赛”并取得了三等奖的成绩。</p>
            <div class="one">
                <div>
                    <p style=" text-align: center;color: #615b5b"><img src="../../../data/catch/temp/img/20181031_1540958752339053.jpg"
                            title="20181031_1540958752339053.jpg" _src="/data/catch/temp/img/20181031_1540958752339053.jpg"
                            alt="SA{RJ3YJOI1@%@@RI@DLT44.jpg" class="m-photo"></p>
                </div>
                <p style="color: #615b5b">此次比赛马院学子齐心协力,面对众多实力较强的学院毫不畏惧,迎难而上,最终赛出了自己的水平,赛出了马院风采。比赛前我们就利用课余时间进行了多次训练,同学们积极参与,在训练中发挥了不怕苦不怕累的精神,只为追求更好的效果。大家也在练习中多次交流练习感悟,纠正具体细节,使自身动作更加标准,团队展示更加整齐。比赛场上同学们保持平和稳定的心态,统一穿着马克思主义学院院服,流畅地完成了一整套动作,用“马院红”让全校学子认识我们,了解我们。</p>
                <p style=" text-align: center;color: #615b5b"><img src="../../../data/catch/temp/img/20181031_1540958766553592.jpg"
                        title="20181031_1540958766553592.jpg" _src="../../data/catch/temp/img/20181031_1540958766553592.jpg"
                        alt="4(1N%]GWBO(U}2B]S}6OF8Y.jpg" class="m-photo"></p>
                <p><span style="text-indent: 2em;color: #615b5b">本着“友谊第一,比赛第二”的原则,此次比赛不仅使同学们的身体得到了锻炼,也使学校各学院之间有了更多的了解和交流,更重要的是增强了马克思主义学院的凝聚力和团队意识,提高了马院学子进行体育锻炼的积极性和自信心。</span></p>
                <p style=" text-align: center;"><span style="text-indent: 2em;color: #615b5b"><img src="../../../data/catch/temp/img/20181031_1540958779450853.jpg"
                            title="20181031_1540958779450853.jpg" _src="../../../data/catch/temp/img/20181031_1540958779450853.jpg"
                            alt="_8MKLK5LAN~]AKDU9F7GM`V.jpg" class="m-photo"></span></p>
                <p></p>
                <p></p>
                <p style="color:#615b5b;">本次活动使同学们受益匪浅,在放松身心的同时强健了体魄,努力向全面发展的目标更好前进。希望以后同学们能够积极参加类似的体育活动,用自身行动诠释当代青年的蓬勃朝气。</p>
            </div>
            <button class="m-icon5" id="m-love" style="border-radius: 20px;width: 60px;height: 35px;border: none;outline:none;background-color: #ede7e7; cursor: pointer;">
                <i class=" fa fa-2x fa-heart-o" aria-hidden="true" id="r-love"></i>
            </button>
        </div>
        <div class="m-bottom-rectangle"></div>
    </div>

    <script>
        $(document).ready(function () {
            let clientWidth = $(window).width();
            let setWidth = 500;
            if (clientWidth < setWidth) {
                $(".o__main").css("display", "none");
            } else {
                $(".m-common").css("display", "none");
            }
            //点击喜欢按钮变色
            let count=0;
            $("#m-love").click(function(){
                count++;
                if(count%2==1){
                    $("#r-love").removeClass("fa-heart-o").addClass("fa-heart").css("color","red");
                }else{
                    $("#r-love").removeClass("fa-heart").addClass("fa-heart-o").css("color","a7a2a2");
                }
            })
        })
    </script>
</body>

</html>