.paEating .rightList,
.paTransporting .rightList
{
    height: 357px;
    display: none;
}
.o__main .leftBox,
.o__main .rightList {
    display: inline-block;
    vertical-align: top;
    margin-left: -50px;
}
.o__main .fullBox .fullColumnName a, .o__main .leftBox .leftColumnName a {
    padding: 0 2px 11px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #4c4c4c;
}
.o__main .fullBox .fullColumnName, .o__main .leftBox .leftColumnName {
    padding-bottom: 11px;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 26px;
}

.paxy{
    background: #e7e5f2;
}
