body{
    text-align: center;
    
    background-color:#CCCCCC;
    background: #fdf7f7;
}

.container{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.error-text{
    margin: 0 auto;
    margin-top: 50px;
    font-size: 30px;
    width: 300px;
   color: #423d3d
}

.back{
    color:#7d2323;
    text-decoration: none;
}

img{
    margin: 0 auto;
    display: block;
    margin-top: 200px;
}

@media screen and (max-width:500px){
    body{
        text-align: center;
        
        background-color:#CCCCCC;
        background: #fdf7f7;
    }
    
    .container{
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .error-text{
        margin: 0 auto;
        margin-top: 50px;
        font-size: 30px;
        width: 300px;
       color: #423d3d
    }
    
    .back{
        color:#7d2323;
        text-decoration: none;
    }
    
    img{
        width: 81%;
        height: 24%;
        margin: 0 auto;
        display: block;
        margin-top: 200px;
    }
    
}
 