.qgzx,.szcp,.xlcc,.jzxt,.xyyx,.xl{
    display: inline-block!important;
    width: 27%!important;
    text-align: center!important;
    margin-left: 2.5%!important;
    margin-right: 2.5%!important;
    margin-top: 10px!important;
    border-radius: 20px!important;
    text-decoration: none!important;
    color: #fff!important;
    font-size: 0.01rem!important;
    vertical-align: bottom!important;
    overflow: hidden!important;
    height: 76px!important;
}

.serviceItem img{
    display: inline-block!important;
}

.serviceItem{
    width: 64px!important;
}

.service{
    margin: 0,auto!important;
    margin-bottom: 50px;
}

.m_img{
    display: inline-block!important;
    margin-top: 20%!important;
    height: 20%!important;
    vertical-align: bottom!important;
    
}

.qgzx{
    background: rgb(210, 99, 86)
}

.szcp{
    background: rgb(164, 101,180)
}

.xlcc{
    background: rgb(113, 75, 178)
}

.jzxt{
    background: rgb(118, 127, 184)
}

.xyyx{
    background: rgb(44, 164, 199)
}

.xl{
    background: rgb(65, 178, 116)
}