.fullwidthbanner-container {
	width: 100% !important;
	max-height: 550px !important;
	position: relative;
	padding: 0;
	overflow: hidden !important;
	margin: 0px 0 0px;
}

.fullwidthbanner p {
	line-height: 24px;
	font-size: 14px;
}

.fullwidthbanner a {
	color: #fff !important;
}

.fullwidthbanner ul {
	visibility: hidden;
	margin: 0;
	list-style: none;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	height: 48px !important;
	width: auto !important;
	line-height: 45px;
	top: 50% !important;
	padding: 0px 10px;
	font-size: 30px;
	color: #bbb;
}

.tparrows:hover {
	opacity: 0.7;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	height: 48px !important;
	width: auto !important;
	line-height: 45px;
	top: 50% !important;
	padding: 0px 10px;
	font-size: 30px;
	color: #bbb;
}

.tp-rightarrow.default:before {
	content: '\f061';
}

.tp-leftarrow.default:before {
    content: '\f060';
}

.tparrows:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
}